<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">
    <resultMap id="memberReulstSet" type="Member">
        <result column="user_no" property="userNo"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>

        <result column="address" property="address"/>
        <result column="extra_address" property="extraAddress"/>
        <result column="detail_address" property="detailAddress"/>
        <result column="post_code" property="postCode"/>
        <result column="birth" property="birth"/>
        <result column="phone" property="phone"/>
        <result column="point" property="point"/>
        <result column="status" property="status"/>
        <result column="login_time" property="loginTime"/>
        <result column="report" property="report"/>
    </resultMap>

   <update id="updateMember" parameterType="Member">
       update
              member
         set  userName = #{userName}
            , gender = #{gender}
            , phone = #{phone}
            , email = #{email}
            , address = #{address}
       where  userId = #{userId}
   </update>

   <delete id="deleteMember" parameterType="string">
       update
             member
         set status = 'N'
       where user_pwd = #{userPwd}
   </delete>



</mapper>
